/* Large tablets / small laptops (≤ 1200px) */
@media (max-width: 1200px) {
    .container {
        width: 90vw;
        height: calc(90vw * 0.5);
        /* maintains ~995:500 ratio */
    }
}


/* Tablets (≤ 900px) */
@media (max-width: 900px) {
    .container {
        width: 95vw;
        height: calc(95vw * 0.502);
        border-width: 4px;
        border-radius: 16px;
    }

    .leftHand {
        width: 20px;
        bottom: 41px;
        left: 52.5%;
    }

    .rightHand {
        width: 12px;
        bottom: 45px;
        left: 52.6%;
    }

    .person {
        width: 260px;
    }

    .controller,
    .book,
    .paint,
    .earth,
    .basketBall {
        width: 50px;
    }

    .pencil {
        width: 40px;
        bottom: 50%;
        left: 82.5%;
    }
}


/* Large phones (≤ 600px) */
@media (max-width: 600px) {
    .container {
        width: 95vw;
        height: calc(95vw * 0.55);
        border-width: 3px;
        border-radius: 12px;
    }

    .leftHand {
        width: 20px;
        bottom: 34px;
        left: 52.75%;
    }

    .rightHand {
        width: 12px;
        bottom: 36px;
        left: 53%;
    }

    .person {
        width: 220px;
    }

    .controller,
    .book,
    .paint,
    .earth,
    .basketBall {
        width: 40px;
    }

    .pencil {
        width: 32px;
        bottom: 50%;
        left: 82.5%;
    }

}


/* Small phones (≤ 400px) */
@media (max-width: 400px) {
    .container {
        width: 100vw;
        height: 60vw;
        border-width: 2px;
        border-radius: 10px;
    }

    .leftHand {
        width: 16.6px;
        bottom: 29px;
        left: 53.5%;
    }

    .rightHand {
        width: 10px;
        bottom: 32px;
        left: 54%;
    }

    .person {
        width: 190px;
    }

    .controller,
    .book,
    .paint,
    .earth,
    .basketBall {
        width: 30px;
    }

    .pencil {
        width: 28px;
        bottom: 50%;
        left: 82.5%;
    }
}


/* Small phones (≤ 400px) */
@media (max-width: 300px) {
    .container {
        width: 100vw;
        height: 60vw;
        border-width: 2px;
        border-radius: 10px;
    }

    .leftHand {
        width: 16.6px;
        bottom: 29px;
        left: 54.8%;
    }

    .rightHand {
        width: 10px;
        bottom: 32.6px;
        left: 55.4%;
    }

    .person {
        width: 190px;
    }

    .controller,
    .book,
    .paint,
    .earth,
    .basketBall {
        width: 20px;
    }

    .pencil {
        width: 15px;
        bottom: 50%;
        left: 82.5%;
    }
}