* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 50vw;
    /* background-color: red; */
}

.container {
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 995px;
    overflow: hidden;
    border: 5px solid rgb(215, 215, 215);
    border-radius: 20px;
}

img {
    display: block;
    /* border: 5px solid red; */
}

/* Background fills entire container */
.background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: 1;
    max-width: 100%;
}


.leftHand {
    /* border: 1px red solid; */
    position: absolute;
    bottom: 45px;
    left: 52.4%;
    transform: translateX(-50%);
    width: 25px;
    /* adjust as needed */
    height: auto;
    z-index: 3;
}

.rightHand {
    /* border: 1px red solid; */
    position: absolute;
    bottom: 50px;
    left: 52.7%;
    transform: translateX(-50%);
    width: 15px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.person {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

/* ITEMS *********************************/
.controller {
    position: absolute;
    bottom: 50%;
    left: 70%;
    transform: translateX(-50%);
    width: 100px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.book {
    position: absolute;
    bottom: 40%;
    left: 82%;
    transform: translateX(-50%);
    width: 100px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.pencil {
    position: absolute;
    bottom: 53%;
    left: 82.5%;
    transform: translateX(-50%);
    width: 50px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.paint {
    position: absolute;
    bottom: 40%;
    left: 93.8%;
    transform: translateX(-50%);
    width: 90px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.earth {
    position: absolute;
    bottom: 33%;
    left: 65%;
    transform: translateX(-50%);
    width: 90px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}

.basketBall {
    position: absolute;
    bottom: 20%;
    left: 78%;
    transform: translateX(-50%);
    width: 90px;
    /* adjust as needed */
    height: auto;
    z-index: 2;
}