* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aac0f7;
    width: 1000px;
    height: 1000px;
    margin: auto;
}

button {
    display: block;
    width: 100px;
    height: 50px;
    margin: 50px auto;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 10px;
}

.flexbox {
    /* border: 5px solid red; */
    width: 300px;
    display: flex;
    margin: auto;
}