* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c9c9c9;
    width: 1000px;
    height: 1000px;
    margin: auto;
}

button {
    display: block;
    width: 100px;
    height: 50px;
    margin: 50px auto;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 10px;
}

.flexbox {
    /* border: 5px solid red; */
    width: 300px;
    display: flex;
    margin: auto;
}

/* RESPONSIVE */
@media (min-width: 250px) {
    body {
        width: 100%;
        max-width: 1000px;
        height: auto;
        padding: 1rem;
    }

    button {
        width: min(100%, 200px);
        font-size: clamp(16px, 4vw, 20px);
        margin: 20px 15px 0 15px;
    }

    .flexbox {
        width: 100%;
        max-width: 300px;
    }
}
